{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="static\img\favicon.png" type="image/x-icon">

    <!--=============== REMIXICON ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="static/css/styles.css">

    <title>Responsive gym website - Bedimcode</title>
</head>
<body>
<header class="header" id="header">
        <nav class="nav container">
            <a href="#" class="nav__logo">
                <img src="static/img/logo-nav.png" alt="logo"> FitnessHub
            </a>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li>
                        <a href="#home" class="nav__link active-link">Home</a>
                    </li>
                    <li>
                        <a href="#program" class="nav__link">Program</a>
                    </li>
                    <li>
                        <a href="#choose" class="nav__link">Choose Us</a>
                    </li>
                    <li>
                        <a href="#pricing" class="nav__link">Pricing</a>
                    </li>
                    <li class="nav__link">
                        <a href="{% url 'login' %}" class="button nav__button">
                            Login
                        </a>
                        <a href="{% url 'select_signup' %}" class="button nav__button">
                            Sign Up
                        </a>

                    </li>
                </ul>
                <div class="nav__close" id="nav-close">
                    <i class="ri-close-line"></i>
                </div>
            </div>

            <!--toggle button-->
            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-menu-line"></i>
            </div>
        </nav>
    </header>

    {% block content %}
    {% endblock %}
 <!--==================== FOOTER ====================-->
        <footer class="footer section" id="footer">
            <div class="footer__container container grid">

                <div class="footer__content">
                    <div>
                        <h3 class="footer__title">
                            SERVICES
                        </h3>

                        <ul class="footer__links">
                            <li>
                                <a href="#" class="footer__link">Flex Muscle</a>
                            </li>
                            <li>
                                <a href="#" class="footer__link">Cardio Exercise</a>
                            </li>
                            <li>
                                <a href="#" class="footer__link">Basic Yoga</a>
                            </li>
                            <li>
                                <a href="#" class="footer__link">Weight Lifting</a>
                            </li>
                        </ul>
                        
                    </div>

                    <div>
                        <h3 class="footer__title">
                            PRICING
                        </h3>

                        <ul class="footer__links">
                            <li>
                                <a href="#" class="footer__link">Basic</a>
                            </li>
                            <li>
                                <a href="#" class="footer__link">Premium</a>
                            </li>
                            <li>
                                <a href="#" class="footer__link">Diamond</a>
                            </li>
                        </ul>
                    </div>

                    <div>
                        <h3 class="footer__title">
                            COMPANY
                        </h3>

                        <ul class="footer__links">
                            <li>
                                <a href="#" class="footer__link">About Us</a>
                            </li>
                            <li>
                                <a href="#" class="footer__link">Careers</a>
                            </li>
                            <li>
                                <a href="#" class="footer__link">Customers</a>
                            </li>
                            <li>
                                <a href="#" class="footer__link">Partners</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="footer__group">
                    <ul class="footer__social">
                        <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                            <i class="ri-facebook-circle-fill"></i>
                        </a>
                        <a href="https://twitter.com/" target="_blank" class="footer__social-link">
                            <i class="ri-twitter-fill"></i>
                        </a>
                        <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                            <i class="ri-instagram-line"></i>
                        </a>
                    </ul>

                    <span class="footer__copy">
                        &#169; Copyright FitnessHub. All rights reserved
                    </span>
                </div>
            </div>
        </footer>
        </body>

</html>


